.git-cookbook {
  background: url('images/git-cookbook.png') no-repeat center center fixed;
  background-size: contain;
}

.git-spellbook {
  background: url('images/git-spellbook.png') no-repeat center center fixed;
  background-size: contain;
}

.working-tree-staging-area {
  background: url('images/working-tree-staging-area.png') no-repeat center center fixed;
  background-size: contain;
}

.amazon-worker {
  background: url('images/amazon-fulfillment-center.jpg') no-repeat center center fixed;
  background-size: contain;
}

.snow-trail-map {
  background: url('images/snow-trail-map.jpg') no-repeat center center fixed;
  background-size: contain;
}

.detached-head {
  background: url('images/git-detached-head.jpg') no-repeat center center fixed;
  background-size: contain;
}

.git-references-exercise {
  background: url('images/git-references-exercise2.png') no-repeat center center fixed;
  background-size: contain;
}

.fight {
  background: url('images/vs-fight.jpg') no-repeat center center fixed;
  background-size: cover;
}

.merge-problem {
  background: url('images/fucked-up-git-guitar-hero.png') no-repeat center center fixed;
  background-size: contain;
}

.commit-id-equation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.id, .equals {
  font-size: 5em;
}

.sum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fight .slide-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 6%;
}

.oponents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.oponents h1 {
  margin: 0;
}
